.country {
    border-radius: .5rem;
    border: black solid 1px;
    background: #efefef;
    width: 16rem
}

.country>.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black 1px solid;
    padding: .35rem
}

.country>.header>.basket {
    cursor: pointer
}

.country>.medals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .35rem;
    background-color: #fff;
    border-radius: inherit
}

.country>.medals>button {
    padding: .25rem;
    width: 1.5rem
}

.countries {
    padding: .5rem;
    display: flex;
    gap: .5rem
}

:root {
    font-family: Inter,system-ui,Avenir,Helvetica,Arial,sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

* {
    margin: 0;
    padding: 0
}

button {
    margin: 0 3px;
    border-radius: 8px;
    border: 1px solid #1a1a1a;
    font-family: inherit;
    background-color: #d9d9d9;
    cursor: pointer
}

button:hover {
    background-color: #fff
}

button:focus,button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color
}

button:disabled {
    cursor: not-allowed
}
